<div class="container container-body">
	<%= render partial: "navbar", locals: {index: 4} %>
	<div class="container container-main">
		<div class="container-fluid container-type-2" align="center">
			<div class="row">
				<div class="col-sm-6">
					<h2>WE'D LOVE TO HEAR FROM YOU!</h2>
					<script type="text/javascript" src="https://form.jotform.us/jsform/71354297650157"></script>
				</div>
				<div class="col-sm-6">
					<h2>ADDITIONAL INFORMATION</h2>
					<p>Please bear with us while we create our social media presence!</p>
					<img class="img-responsive" src="/img/SM_Primer.png" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 300px; width: 300px;"></img>
				</div>
			</div>
		</div>
        <%= render partial: "footer" %>
	</div>
</div>