<div class="container container-body">
	<%= render partial: "navbar", locals: {index: 3} %>
	<div class="container container-main">
		<div class="container-fluid container-type-2">
			<div class="row">
				<div class="col-sm-6">
					<h2>SO YOU WANNA BE A TUTOR?</h2>
					<h3>...here's what we're looking for!</h3>
					<br>
					<p style="font-size: 26px;">Our tutors are carefully selected to have two main qualities: a passion for Chess and a knack for teaching young children in a patient, encouraging, and charismatic way.</p>
				</div>
				<div class="col-sm-6">
					<img class="img-responsive" src="/img/Stock7.jpg"></img>
				</div>
			</div>
			<p>To be a tutor, you must:</p>
			<ul>
				<li><p>Know how to play Chess (You don't have to be an expert! You will be teaching our pre-set curriculum)</p></li>
				<li><p>Be very good with young children</p></li>
				<li><p>Be very responsible and organized</p></li>
				<li><p>Have a reliable means of transportation</p></li>
			</ul>
			<p>If you are interested and meet these requirements, fill out the application below!</p>
		</div>
		<div class="container-fluid container-type-4">
			<h2>Apply Here<a href="#"><i class="fa fa-angle-up"></i></a></h2>
			<p>Fill out the form below to apply today!</p>
			<script type="text/javascript" src="https://form.jotform.com/jsform/71354285250150"></script>

		</div>
		<%= render partial: "footer" %>
	</div>
</div>