<div class="page-header">
<h2>Parents</h2>
<ul class="actions">
</ul>
</div>

<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>Name</td>
		<td>Email</td>
		<td>Phone Number</td>
		<td>Address</td>
		<td></td>
	</thead>
	<% @parents.each do |parent| %>
		<tr>
			<td><%= parent.name %></td>
			<td><%= parent.email %></td>
			<td>Phone Number Coming Soon</td>
			<td>Address Coming Soon</td>
			<td><%= link_to "View", parent_path(parent), class: "btn btn-primary" %></td>
		</tr>
	<% end %>
</table>
</div>