// Place all the styles related to the tutors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	table-layout: fixed;
}

.slot {
	font-size: 14px;
}

.slot .well {
	font-size: 12px;
}